<!DOCTYPE html>
<html ng-app="webApp">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/Style.css">
	<link rel="stylesheet" href="css/css23.css">
	<link rel="stylesheet" href="css/toast.css">
	<link rel="stylesheet" href="css/angularjs-datetime-picker.css">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 

<body>
<div ng-Controller="navController" style="margin-top: 8%;">
	<nav class="navbar navbar-expand-sm bg-light fixed-top">
		<a href="#" class="navbar-brand">Putuj Igumane</a>
		
		<div class="collapse navbar-collapse navbar-light">
		<form ng-if="authenticated" class="form-inline">
    			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchName">
   				<button class="btn btn-outline-success my-2 my-sm-0" ng-click="searchUsers(searchName)"><i class="fa fa-search"></i></button>
  		</form>
  			
			<ul class="navbar-nav ml-auto">
				
				<li ng-if="authenticated" class="nav-item">
					<a href="#/rezervacija" class="nav-link">Napravi rezervaciju</a>
				</li>
				
				<li class="nav-item dropdown" ng-if="authenticated">
  					<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">Registracije <span class="caret"></span></a>
  					<div class="dropdown-menu" aria-labelledby="dropdown_targt">
  						<a href="#/add/aviokompanija" class="dropdown-item">Registracija aviokompanije</a>
  						<a href="#/add/hotel" class="dropdown-item">Registracija hotela</a>
  						<a href="#/add/rentacar" class="dropdown-item">Registracija rent a car</a>
  						<a href="#/add/admin/aviokompanija" class="dropdown-item">Registracija administratora aviokompanije</a>
  						<a href="#/add/admin/hotel" class="dropdown-item">Registracija administratora hotela</a>
  						<a href="#/add/admin/rentacar" class="dropdown-item">Registracija administratora rentacar</a>
  						<a href="#/add/admin/sistem" class="dropdown-item">Registracija administratora sistema</a>
  					</div>
  				</li>
				
				<li class="nav-item dropdown" ng-if="authenticated">
  					<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">Rent a car <span class="caret"></span></a>
  					<div class="dropdown-menu" aria-labelledby="dropdown_targt">
  						<a href="#/rentacar/editRentacar/1" class="dropdown-item">Izmena servisa</a>
  						<a href="#/rentacar/filijala/1" class="dropdown-item">Izmena filijala servisa</a>
  						<a href="#/rentacar/vozila/1" class="dropdown-item">Izmena vozila</a>
  						<a href="#/rentacar/oceneRentacar/1" class="dropdown-item">Izveštaj prosečne ocene servisa</a>
  						<a href="#/rentacar/oceneVozilaServisa/1" class="dropdown-item">Izveštaj prosečne ocene vozila</a>
  						<a href="#/rentacar/prihodi/1" class="dropdown-item">Uvid u prihode</a>
  					</div>
  				</li>
				
				<li class="nav-item dropdown" ng-if="authenticated">
  					<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">Menadžment hotela <span class="caret"></span></a>
  					<div class="dropdown-menu" aria-labelledby="dropdown_targt">
  						<a href="#/hoteli/editHotel/1" class="dropdown-item">Izmena informacija hotela</a>
  						<a href="#/hoteli/cenovnik/1" class="dropdown-item">Izmena cenovnika usluga</a>
  						<a href="#/hoteli/sobe/1" class="dropdown-item">Izmena soba</a>
  						<a href="#/hoteli/oceneHotela/1" class="dropdown-item">Izveštaj prosečne ocene hotela</a>
  						<a href="#/hoteli/oceneSobaHotela/1" class="dropdown-item">Izveštaj prosečne ocene soba</a>
  						<a href="#/hoteli/prihodi/1" class="dropdown-item">Uvid u prihode</a>
  					</div>
  				</li>
				<li ng-if="authenticated" class="nav-item">
					<a href="#/izmena/letovi" class="nav-link">Letovi</a>
				</li>	
				<li ng-if="!authenticated" class="nav-item">
					<a href="#/login" class="nav-link">Prijava</a>
				</li>
				<li ng-if="!authenticated" class="nav-item">
					<a href="#/korisnik/addKorisnik" class="nav-link">Registracija</a>
				</li>
				<li ng-if="authenticated" class="nav-item">
					<a href="#/prijatelji" class="nav-link">Prijatelji</a>
				</li>
				<li ng-if="authenticated" class="nav-item">
					<a href="#/zahtevi" class="nav-link">Zahtevi za prijateljstvo</a>
				</li>
				<li ng-if="authenticated" class="nav-item" style="cursor: pointer;">
					<a ng-click="logout()" class="nav-link">Odjavi se</a>
				</li>
				
				
			</ul>
			
		</div>
	</nav>
	<div ng-view></div>
</div>

	

<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/fabric.min.js"></script>
<script src="js/Date.js"></script>

<script src="js/toast.js"></script>

<script src="js/loodash.js"></script>
<script src="js/angular-simple-logger.js"></script>
<script src="js/angular-google-maps.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers170.js"></script>
<script src="app/controllers23.js"></script>
<script src="app/controllers26.js"></script>
<script src="app/controllers27.js"></script>
<script src="app/controllersRez.js"></script>
<script src="app/controllersRegistracija.js"></script>
<script src="app/servicesRegistracija.js"></script>
<script src="app/services170.js"></script>
<script src="app/services23.js"></script>
<script src="app/services26.js"></script>
<script src="app/services27.js"></script>
<script src="app/servicesRez.js"></script>
<script src="app/directives.js"></script>
<script src="js/lvl-uuid.js"></script>
<script src="js/lvl-drag-drop.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
<script src="js/angularjs-datetime-picker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>	
</body>
</html>