<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profil hotela</title>
</head>
<body>
<div ng-Controller="hoteliController">
	<nav class="navbar navbar-expand-sm bg-light fixed-top">
		<a href="#" class="navbar-brand">Putuj Igumane</a>
		<div class="collapse navbar-collapse navbar-light">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">Prijava</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Registracija</a>
				</li>
			</ul>
		</div>
	</nav>	
	<div class="container">
		<div class="row mt-5">
		</div>
		<div class="page-header mt-5">
			<h2>{{hotel.naziv}}</h2>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<table class="table">
					<tr>
						<td>
							Adresa:
						</td>
						<td>
							{{hotel.adresa}}
						</td>
					</tr>
					<tr>
						<td>
							Opis:
						</td>
						<td>
							{{hotel.opis}}
						</td>
					</tr>
					<tr>
						<td>
							Prosečna ocena:
						</td>
						<td>
							{{hotel.prosecnaOcena}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<table class="table ml-5">
					<tr class="head">
						<td colspan="2" align="center"><b>CENOVNIK</b></td>
					</tr>
					<tr class="head">
						<td align="center">
							Usluga:
						</td>
						<td align="center">
							Cena:
						</td>
					</tr>
					<tr ng-repeat="c in hotel.cenovnikUsluga">
						<td align="center">
							{{c.usluga}}
						</td>
						<td align="center">
							{{c.cena}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>