<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hoteli</title>
<style>
	
	.row{
		border-style: none;
	}
	.row:hover {
	}
}
	
</style>

</head>
<body>
<div ng-Controller="hoteliController">

	
	<div class="container">
		<div class="row mt-5">
		</div>
		<div class="page-header mt-5">
			<h1>Hoteli</h1>
		</div>
		<div class="row">
			<div class="col-lg-4" ng-repeat="h in hoteli">
				<div class="card" ng-click="prikazProfilaHotela(h.id)">
					<h3 align="center">Hotel: {{h.naziv}}</h3>
					<p>Adresa: {{h.adresa}}</p>
					<p>Opis: {{h.opis}}</p>
					<p>Prosečna ocena: {{h.prosecnaOcena}}</p>
				</div>
			</div>
		</div>	
	</div>
</div>

</body>
</html>