<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hoteli</title>
</head>
<body>
<div ng-Controller="hoteliController">
	<div class="container">
		<div class="page-header">
			<h1>Putuj Igumane</h1>
			<h2>Hoteli</h2>
		</div>
		
		<div ng-repeat="h in hoteli" align="center">
		<div class="col-lg-4">
			<h3 align="center">Hotel: {{h.naziv}}</h3>
			<p>Adresa: {{h.adresa}}</p>
			<p>Opis: {{h.opis}}</p>
			<p>Prosečna ocena: {{h.prosecnaOcena}}</p>
		</div>
		<p></p>
		</div>
		
	</div>
</div>
</body>
</html>