<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profil hotela</title>

<style>
	
	.row{
		border-style: none;
	}
	.row:hover {
	}
}
	
</style>
</head>
<body>
<div ng-Controller="hotelProfilController">
	<nav class="navbar navbar-expand-sm bg-light fixed-top">
		<a href="#" class="navbar-brand">Putuj Igumane</a>
		<div class="collapse navbar-collapse navbar-light">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">Prijava</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Registracija</a>
				</li>
			</ul>
		</div>
	</nav>	
	<div class="container">
		<div class="row mt-5">
		</div>
		<div class="page-header mt-5">
			<h2>{{hotel.naziv}}</h2>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<table class="table">
					<tr>
						<td>
							Adresa:
						</td>
						<td>
							{{hotel.adresa}}
						</td>
					</tr>
					<tr>
						<td>
							Opis:
						</td>
						<td>
							{{hotel.opis}}
						</td>
					</tr>
					<tr>
						<td>
							Prosečna ocena:
						</td>
						<td>
							{{hotel.prosecnaOcena}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<table class="table">
					<tr class="head">
						<td colspan="2" align="center"><b>CENOVNIK</b></td>
					</tr>
					<tr class="head">
						<td align="center">
							Usluga:
						</td>
						<td align="center">
							Cena:
						</td>
					</tr>
					<tr ng-repeat="c in hotel.cenovnikUsluga">
						<td align="center">
							{{c.usluga}}
						</td>
						<td align="center">
							{{c.cena}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<label class="textColor ml-4">Vremenski period prikaza slobodnih soba:</label>
				<form>
				<div class="form-group ml-4">
					<label class="textColor">Od:</label>
					<input id="from" name="from" type="date"  class="form-control" ng-model="from"/>
					<label class="textColor">Do:</label>
					<input id="to" name="to" type="date" class="form-control" ng-model="to"/>
					<button type="submit" class="btn btn-dark mt-3" ng-click="prikazSoba(from,to)">Prikaži</button>
				</div>
				</form>
			</div>
		</div>
		<div class="page-header" ng-if="freeSobe != 0">
				<h4>Slobodne sobe:</h4>
			</div>
		<div class="row">
			<div class="col-lg-4" ng-repeat="s in freeSobe">
				<div class="card">
					<h3 align="center">Broj sobe: {{s.brojSobe}}</h3>
					<p>Sprat: {{s.sprat}}</p>
					<p>Broj kreveta: {{s.brojKreveta}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>