<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Izmena cenovnika usluga hotela</title>
</head>
<body>
<div ng-Controller="hotelIzmenaInfController">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">	
			</div>
			<div class="col-lg-4">	
				<div class="page-header">
					<h2>Izmena cenovnika uzluga hotela</h2>
				</div>
			</div>
			<div class="col-lg-4">	
			</div>
		</div>
		<div class="row mt-5">
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<table class="table">
					<tr class="head">
						<td colspan="4" align="center"><b>CENOVNIK</b></td>
					</tr>
					<tr class="head">
						<td align="center">
							Usluga:
						</td>
						<td align="center">
							Cena:
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr ng-repeat="c in cenovnikUsluga">
						<td align="center">
							{{c.usluga}}
						</td>
						<td align="center">
							{{c.cena}}
						</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
</div>
</body>
</html>