<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Izmena usluge</title>
</head>
<body>
<div ng-Controller="izmenaFilijaleController">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">	
			</div>
			<div class="col-lg-4">	
				<div class="page-header">
					<h2>Izmena filijale</h2>
				</div>
			</div>
			<div class="col-lg-4">	
			</div>
		</div>
		<div class="row mt-5">
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Drzava:</label>
				<input id="ime" name="ime" type="text" class="form-control" ng-model="filijala.drzava"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Grad:</label>
				<input id="adresa" name="adresa" type="text" class="form-control" ng-model="filijala.grad"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				
			</div>
			<div class="col-lg-4">
				<button type="submit" class="btn btn-dark mt-3" ng-click="izmenaJedneFilijale(filijala)">Izmeni</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>