<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Izveštaj ocena sobe</title>
</head>
<body>
<div ng-Controller="izvestajOcenaSobeController">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">	
			</div>
			<div class="col-lg-4">	
				<div class="page-header">
					<h2>Izveštaj ocena sobe {{soba.brojSobe}}</h2>
				</div>
			</div>
			<div class="col-lg-4">	
			</div>
		</div>
		<div class="row mt-5">
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
								
				<table class="table">
					<tr class="head">
						<td colspan="2" align="center"><b>IZVEŠTAJ OCENA</b></td>
					</tr>
					<tr class="head">
						<td align="center">
							Korisnik:
						</td>
						<td align="center">
							Ocena:
						</td>
					</tr>
					<tr ng-repeat="o in ocene">
						<td align="center">
							{{o.username}}
						</td>
						<td align="center">
							{{o.vrednost}}
						</td>
					</tr>
				</table>
			</div>
		</div>
</div>
</body>
</html>