<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Letovi</title>
</head>
<body>
<div ng-Controller="pretragaKarataController">
	<div class="container">
		<div class="page-header">
			<h1>Karte</h1>
		</div>
		<div class="row">
			<div class="col-lg-4  mr-auto ml-auto text-center">
					<label>Od:<input ng-model="searchText.odMesta"></label>
					<label>Do:<input ng-model="searchText.doMesta"></label>
			</div>
		</div>	
		
		<div class="row">
			<div class="col-lg-4" ng-repeat="k in karte | filter:searchText">
				<div class="card">
					<p>Od: {{k.odMesta}}</p>
					<p>Do: {{k.doMesta}}</p>
					<p>Vreme poletanja: {{formateDate(k.vremePoletanja)}}</p>
					<p>Vreme sletanja: {{formatDate(k.vremeSletanja)}}</p>
					<p><button class="btn btn-secondary" ng-click="reserveFastFlight(k)">Rezerviši</button></p>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>
</html>
