<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Letovi</title>
</head>
<body>
<div ng-Controller="pretragaLetovaController">
	<div class="container">
		<div class="page-header">
			<h1>Letovi</h1>
		</div>
		<div class="row">
			<div class="col-lg-4  mr-auto ml-auto text-center">
					<label>Vreme poletanja:<input class="form-control" type="datetime-local"  id="dateTimeInput1" ng-model="vremePoletanja" ng-click="ispis()"></label>
					<label>Vreme sletanja:<input class="form-control" type="datetime-local"  id="dateTimeInput1" ng-model="vremePoletanjaDo"></label>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-4" ng-repeat="l in letovi|filter:greaterThan('vremePoletanja',vremePoletanja,vremePoletanjaDo)">
				<div class="card">
					<p>Od: {{l.presedanja[0].name}}</p>
					<p>Do: {{l.presedanja[1].name}}</p>
					<p>Vreme poletanja: {{formatDate(l.vremePoletanja)}}</p>
					<p>Vreme sletanja: {{formatDate(l.vremeSletanja)}}</p>
					<p><button class="btn btn-secondary" ng-click="reserveFlight(l.id)">Rezerviši</button></p>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>
</html>