<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pocetna</title>

<style>
	
	.row{
		border-style: solid;
		border-color: white;
		border-width: 2px;
	}
	
	.row:hover {
		-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
		box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	}
	
</style>

</head>
<body>
<div ng-Controller="mainController">
	
	<div class="container">
		<div class="row mt-5">
		</div>
		<div class="row mt-3">	
			<img src="images/aviokompanija.jpg" class="imgStart" ng-click="prikazAvioKompanija()">
		</div>
		
		<div class="row">
			<img src="images/hotel.jpg" class="imgStart" ng-click="prikazHotela()">
		</div>
		
		<div class="row mb-3">
			<img src="images/rentacar.jpg" class="imgStart" ng-click="prikazRentacar()">
		</div>
		
	</div>
</div>
</body>
</html>