<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pretraga korisnika</title>
</head>
<body>
<div ng-Controller="pretragaKorisnikaController">
   <div class="container">
		
		<div class="row" ng-repeat="k in korisnici">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" align="center">{{k.ime}} {{k.prezime}}</h5>
						<button class="btn btn-primary" ng-click="addFriend(k.id)" ng-disabled="sent[k.id]" align="center">{{buttonText[k.id]}}</button>
					</div>
				</div>
			</div>	
			<div class="col-lg-4"></div>
		</div>	
	</div>
</div>
</body>
</html>