<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rezervacija Rent a car servisa</title>
</head>
<body>
<div ng-Controller="rentacarFinishRezController">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">	
			</div>
			<div class="col-lg-4">	
				<div class="page-header">
					<h2>Potvrdite rezervaciju</h2>
				</div>
			</div>
			<div class="col-lg-4">	
			</div>
		</div>
		<div class="row mt-5">
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<div class="card mt-3" ng-click="zavrsiRez()">
					<h3 align="center">Završi rezervaciju</h3>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>