<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profil rent a car</title>

<script>
	$(function(){
		$('.dates #from').datepicker({
			'format':'yyyy-mm-dd',
			'autoclose' : true;
		});
	});
</script>
</head>
<body>
<div ng-Controller="rentacarProfilController">
	<nav class="navbar navbar-expand-sm bg-light fixed-top">
		<a href="#" class="navbar-brand">Putuj Igumane</a>
		<div class="collapse navbar-collapse navbar-light">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">Prijava</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Registracija</a>
				</li>
			</ul>
		</div>
	</nav>	
	<div class="container">
		<div class="row mt-5">
		</div>
		<div class="page-header mt-5">
			<h2>{{rentacar.nazivServisa}}</h2>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<table class="table">
					<tr>
						<td>
							Adresa:
						</td>
						<td>
							{{rentacar.adresaServisa}}
						</td>
					</tr>
					<tr>
						<td>
							Opis:
						</td>
						<td>
							{{rentacar.opisServisa}}
						</td>
					</tr>
					<tr>
						<td>
							Prosečna ocena:
						</td>
						<td>
							{{rentacar.prosecnaOcenaServisa}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<table class="table">
					<tr class="head">
						<td colspan="2" align="center"><b>FILIJALE</b></td>
					</tr>
					<tr class="head">
						<td align="center">
							Drzava:
						</td>
						<td align="center">
							Grad:
						</td>
					</tr>
					<tr ng-repeat="r in rentacar.filijale">
						<td align="center">
							{{r.drzava}}
						</td>
						<td align="center">
							{{r.grad}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<label class="textColor ml-4">Vremenski period prikaza slobodnih vozila:</label>
				<form>
				<div class="form-group ml-4">
					<label class="textColor">Od:</label>
					<input id="from" name="from" type="date"  class="form-control" ng-model="from"/>
					<label class="textColor">Do:</label>
					<input id="to" name="to" type="date" class="form-control" ng-model="to"/>
					<button type="submit" class="btn btn-dark mt-3" ng-click="prikazVozila(from,to)">Prikaži</button>
				</div>
				</form>
			</div>
		</div>
		<div class="page-header" ng-if="freeVozila != 0">
				<h4>Slobodna vozila:</h4>
			</div>
		<div class="row">
			<div class="col-lg-4" ng-repeat="s in freeVozila">
				<div class="card">
					<h3 align="center">Marka vozila: {{s.markaVozila}}</h3>
					<p>Model vozila: {{s.modelVozila}}</p>
					<p>Broj sedista: {{s.brojSedista}}</p>
					<p>Godina proizvodnje: {{s.godinaProizvodnje}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>