<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rezervacija hotela</title>
</head>
<body>
<div ng-Controller="rezervacijaHotelaController">
	<div class="container">
		<div class="page-header">
			<h1>Hoteli</h1>
		</div>
		<div class="row">
			<div class="col-lg-4" ng-repeat="h in hoteli">
				<div class="card" ng-click="izaberiHotel(h)">
					<h3 align="center">Hotel: {{h.naziv}}</h3>
					<p>Adresa: {{h.adresa}}</p>
					<p>Opis: {{h.opis}}</p>
					<p>Prosečna ocena: {{h.prosecnaOcena}}</p>
				</div>
			</div>
		</div>	
	</div>
</div>
</body>
</html>