<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rezervacija soba</title>
</head>
<body>
<div ng-Controller="rezervacijaSobaController">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">	
			</div>
			<div class="col-lg-4">	
				<div class="page-header">
					<h2>Rezervacija soba hotela {{hotelRezervacija.naziv}}</h2>
				</div>
			</div>
			<div class="col-lg-4">	
			</div>
		</div>
		<div class="row mt-5">
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Datum dolaska:</label>
				<input  type="date" class="form-control" ng-model="$root.datumDolaskaHotel"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Datum odlaska:</label>
				<input  type="date" class="form-control" ng-model="$root.datumOdlaskaHotel"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Broj gostiju:</label>
				<input  type="text" class="form-control" ng-model="$root.brojGostijuHotel"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Broj soba :</label>
				<input  type="text" class="form-control" ng-model="$root.brSoba"/>
			</div>
		</div>
		<div class="row">
				<div class="col-lg-4 ml-auto mr-auto">
					<label class="textColor">Tipovi soba :</label>
				</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
					
				<form class="was-validated">
					<div class="custom-control custom-checkbox mb-3 ml-4">
				    	<input ng-model="$root.jed" type="checkbox" class="custom-control-input" id="customControlValidation1" required>
				    	<label class="custom-control-label" for="customControlValidation1">Jednokrevetne</label>
					</div>
				</form>
				
				<form class="was-validated">
					<div class="custom-control custom-checkbox mb-3 ml-4">
				    	<input ng-model="$root.dvo" type="checkbox" class="custom-control-input" id="customControlValidation2" required>
				    	<label class="custom-control-label" for="customControlValidation2">Dvokrevetne</label>
					</div>
				</form>
				
				<form class="was-validated">
					<div class="custom-control custom-checkbox mb-3 ml-4">
				    	<input ng-model="$root.tro" type="checkbox" class="custom-control-input" id="customControlValidation3" required>
				    	<label class="custom-control-label" for="customControlValidation3">Trokrevetne</label>
					</div>
				</form>
				
				<form class="was-validated">
					<div class="custom-control custom-checkbox mb-3 ml-4">
				    	<input ng-model="$root.cet" type="checkbox" class="custom-control-input" id="customControlValidation4" required>
				    	<label class="custom-control-label" for="customControlValidation4">Četvokrevetne</label>
					</div>
				</form>
				
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Cena od :</label>
				<input  type="text" class="form-control" ng-model="$root.cenaOd"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto mr-auto">
				<label class="textColor">Cena do :</label>
				<input  type="text" class="form-control" ng-model="$root.cenaDo"/>
			</div>
		</div>
				
		<div class="row">
			<div class="col-lg-4">
				
			</div>
			<div class="col-lg-4">
				<button type="submit" class="btn btn-dark mt-3" ng-click="prikazi()">Prikaži</button>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4" ng-repeat="s in freeSobe">
				<div class="card">
					<h3 align="center">Broj sobe: {{s.brojSobe}}</h3>
					<p>Sprat: {{s.sprat}}</p>
					<p>Broj kreveta: {{s.brojKreveta}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>