<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rezervacija soba</title>

<style>
	
</style>
</head>
<body>
<div ng-Controller="rezervacijaSobaBrzaController">
	
	<div class="container">
		<div class="page-header">
			<h2>Brza rezervacija sobe</h2>
		</div>
		
		<div class="row">
			<div class="col-lg-4" ng-repeat="s in sobeBrza">
				<div class="card">
					<h3 align="center">Broj sobe: {{s.brojSobe}}</h3>
					<p>Sprat: {{s.sprat}}</p>
					<p>Broj kreveta: {{s.brojKreveta}}</p>
					<p>Datum dolaska: {{$root.datumDolaska}}</p>
					<p>Datum povratka: {{$root.datumPovratka}}</p>
					<p>Cena: {{s.cena}}</p>
					<p>Popust: {{s.popust}}</p>
					
					<button class="btn btn-outline-dark my-2 my-sm-0" ng-click="rezervisi(s)">Rezerviši</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>